@using QCon12.Controllers
@model IEnumerable<QCon12.Models.Track>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Telerik().Grid(Model).Name("Tracks").Columns(col =>
{
    col.Bound(track => track.Id);
    col.Bound(track => track.Nome);
    col.Bound(track => track.Bio).Template(@<text>@(item.Bio != null ? "Tem bio" : "Falta bio")</text>);
    col.Bound(track => track.Logo).Template(@<img src="@item.Logo" width="50" />);
    col.Command(factory =>
    {
        factory.Custom("Editar").Action("Edit", "Track").Text("Editar");
        factory.Custom("Deletar").Action("Delete", "Track").Text("Deletar");
    });
}).DataKeys(factory => factory.Add("Id")).Pageable().Groupable().Sortable()