<MarketplaceDetails>
  <SmallAppTile>SmallTitle.png</SmallAppTile>
  <LargeAppTile>Desktop.png</LargeAppTile>
  <PCAppTile>Marketplace.png</PCAppTile>
  <ScreenShots>Splash.png;Tracks.png;Palestrantes.png;Palestras.png;PalestraView3.png;PalestraView2.png;PalestranteView1.png;TrackView.png;</ScreenShots>
</MarketplaceDetails>